@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

html {
  scroll-behavior: initial;
}
html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Manrope", sans-serif;
}

.pl-6 {
  padding-left: 31px;
}
nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  margin-bottom: 100px;
  transition: 0.8s transform ease;
}
nav img:hover {
  opacity: 0.7;
}
a:hover {
  text-decoration: none;
}
/* custom webkit scrollbar
 */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1140px;
}

.design-faculty-bar a {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  text-align: left;
  margin: 10px 0;
}

.design-faculty-bar a:hover {
  text-decoration: none;
}

.design-faculty-bar .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df-name {
  color: #444;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
  letter-spacing: 1px;
  transition: 0.6s ease;
  font-size: 0.6vw;
}

.df-name:hover {
  background-color: #c7c7c7;
}

.discipline-bar {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.border_r_bottom {
  border-radius: 0 0 3vw 3vw;
}
.border_r_bottom_s {
  padding: 0 2vw;
  border-radius: 0 0 0.5vw 0.5vw;
}

.text-cmd,
.active-text-cmd {
  color: #f1b81b !important;
}

.text-idd,
.active-text-idd {
  color: #f36f21 !important;
}

.text-txd,
.active-text-txd {
  color: #664191 !important;
}

.text-itd,
.active-text-itd {
  color: #3567b2 !important;
}

.text-ind,
.active-text-ind {
  color: #c91e59 !important;
}

/* inter diciplinary */
.bg-cmd {
  background-color: #f1b81b;
}

.bg-idd {
  background-color: #f36f21;
}

.bg-txd {
  background-color: #664191;
}

.bg-itd {
  background-color: #3567b2;
}

.bg-ind {
  background-color: #c91e59;
}

hr {
  width: 95%;

  border-top: #505050 solid 2px;
}

/* inter diciplinary */
.hr-cmd {
  border-bottom: #f1b81b solid 10px;
}

.hr-idd {
  border-bottom: #f36f21 solid 10px;
}

.hr-txd {
  border-bottom: #664191 solid 10px;
}

.hr-itd {
  border-bottom: #3567b2 solid 10px;
}

.hr-ind {
  border-bottom: #c91e59 solid 10px;
}
.hr-sort {
  border-bottom: #488e9a solid 10px;
}

/* inter diciplinary */
.bg-sort {
  background-color: #488e9a;
}

.active-cmd {
  background-color: #785d00;
}

.active-idd {
  background-color: #a1490c;
}

.active-ind {
  background-color: #790820;
}

.active-itd {
  background-color: #224379;
}

.active-txd {
  background-color: #442468;
}

.discipline-bar .col {
  padding: 12px 3px;
  text-align: center;
  transition: 0.6s ease;
}

.discipline-bar .col a {
  color: #fff;
}

.cmd-active {
  background-color: #ca8912;
}

.bg-g {
  border-radius: 0px 0px 3vw 3vw;
  background-color: #e6e6e6;
}

.align_center {
  align-items: flex-end;
  justify-content: center;
}

.card {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 2000px 2000px;
  transition: 0.6s ease;
  border: #cfcfcf00 solid 1px;
}

.card:hover {
  border: #cfcfcf solid 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card .square-img-container {
  width: 150px;
  height: 150px;
}

.card img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;

  border-radius: 50%;
}

.card-body {
  max-width: 60%;
  padding: 0px;
  padding-left: 10px;
}

.card-top-text {
  font-weight: 600;
  font-size: 14px;
  color: #505050;

  top: 0;
}

.card-bottom-text {
  font-weight: 600;
  font-size: 14px;

  color: #979797;
  bottom: 0;
}

.project-title {
  color: #488e9a;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 25px;
}

.project-synopsis {
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.student-name,
.guide,
.sponsor {
  font-size: 14px;
  margin-bottom: 5px;
  padding-bottom: 0;
}

a.current-discipline,
.yd-breadcrumb {
  font-weight: 600;
  font-size: 13px;
}

.current {
  margin: 0 1rem;
  font-size: 0.7vw;
}

.current:hover {
  background-color: #22437980;
}

.student-detail {
  margin-bottom: 0;
}

.sponsor-list {
  color: #8bb9c1;
}

.sponsor-list:hover {
  color: #488e9a;
}

.mobile-menu,
.m-student-detail {
  display: none;
}

.yd-modal {
  display: none;
}

.bg-credits21 {
  background-color: #306162;
}

.profile-pic {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 50%;
}
.square-img {
  width: 260px;
  height: 260px;
}

.toggle-btn {
  position: relative;
  margin-top: 1vw;
  margin-right: 1vw;
  width: 40px;
  height: 40px;
  right: 0;
  z-index: 1;
}
.toggle-btn:hover {
  opacity: 0.7;
}
span.one {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #000;
}
span.two {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #000;
  margin-top: 12px;
}
.menu {
  z-index: 99;
  position: fixed;
  background-color: #d9d9d9;
  height: 100vh;
  width: 30%;
  top: -100%;
  right: 0;
  border-radius: 0px 0px 0px 144px;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data {
  text-align: left;
}
.data ul {
  list-style: none;
}
.data ul li {
  color: #777;
}
.data li:first-child {
  font-size: calc(12px + 0.5vw);
}
.data li:not(:first-child) {
  font-size: calc(12px + 0.5vw);
}

.accordion {
  width: 100%;
  max-width: 768px;
  padding: 3vw;
}

.accordion .link {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 15px 15px 15px 20px;
  display: flex;
  justify-content: space-between;
  font-size: calc(12px + 0.5vw);
  font-weight: 600;

  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #202020;
}

.accordion li.open i {
  color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/

.submenu {
  display: none;

  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #bcbcbc;
}

.submenu li:last-child {
  border-bottom: 1px solid #d8d8d8;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #808080;
  padding: 12px;
  padding-left: 35px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: 400;
}

.submenu a:hover {
  font-weight: bold;
  background: #bcbcbc;
  color: #303030;
}

/* INTACC */
.interesting-accordian1 {
  max-width: 90vw;
  margin: 30vh 5vw 10vh 5vw;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}

.interesting-accordian1 .accordian {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 10vw;
  padding: auto;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  transition: all 0.5s ease;
  border-radius: 200px;
}

.interesting-accordian1 .accordian-titles {
  position: absolute;

  text-align: center;
  transition: all 0.5s ease;
  font-size: 1.5vw;
}

.interesting-accordian1 .accordian-details {
  width: 20vw;
  opacity: 0;
  font-weight: bold;
  overflow: visible;
  position: absolute;
  text-align: center;
  font-size: 1.2vw;
  transition: opacity 0.5s linear;
}

.interesting-accordian1 .accordian:hover {
  width: 20vw;
}

.interesting-accordian1 .accordian:hover .accordian-titles {
  opacity: 0;
}

.interesting-accordian1 .accordian:hover .accordian-details {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .square-img {
    width: 100%;
    height: 100%;
  }
  .mb-5 {
    margin-bottom: 0;
  }
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
  .card {
    margin-bottom: 15px;
  }
  .col-sm-6 {
    margin-bottom: 20px;
  }
  .mb-4 {
    margin-bottom: 0 !important;
  }
  .student-detail {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu,
  .m-student-detail {
    display: block;
  }

  .navbar > .container {
    padding-left: 0px;
  }

  .navbar-toggler-icon {
    text-align: left;
    font-size: 26px;
    color: #333;
    top: 0;
    position: absolute;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-header img {
    width: 60%;
    height: auto;
  }

  .modal-dialog {
    margin: 0;
  }

  .modal-nav-header img {
    width: 30%;
    height: auto;
    margin-top: 5px;
  }

  .m-discipline-list ul {
    padding: 0px;
    margin-bottom: 0;
  }

  .m-discipline-list > ul > li {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 0;
  }

  .m-discipline-list > ul > li > ul > li {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 7px 0;
  }

  .fa-close {
    font-size: 28px;
    margin-left: 18px;
    margin-top: 2px;
  }

  .project-list .mb-5 {
    margin-bottom: 0px !important;
  }

  .project-list .col-sm-4 {
    margin-bottom: 15px;
  }

  .yd-modal {
    height: 100%;
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
    overflow-y: scroll;
  }

  .m-discipline-list ul {
    padding: 0px;
    margin-bottom: 0;
  }

  .m-discipline-list > ul > li {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 7px 0;
  }

  .m-discipline-list > ul > li > ul > li {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 7px 0;
  }

  .m-discipline-list-21 a {
    display: block;
    color: #fff;
    font-size: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .on {
  }

  .horizontal-menu-link {
    font-size: 14px;
    display: block;
    color: white;
    text-decoration: none;
    padding: 7px;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
